Repository linw1995/jsonpath: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, requirement

.pre-commit-config.yaml:

repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.16.0
  hooks:
  - id: commitizen
    stages:
    - commit-msg
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
    args: [--unsafe]
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-added-large-files
  - id: mixed-line-ending
    args: [--fix=lf]
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.8.0
  hooks:
  - id: python-check-blanket-noqa
  - id: python-check-mock-methods
  - id: python-no-eval
  - id: python-no-log-warn
  - id: python-use-type-annotations
  - id: rst-backticks
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.0
  hooks:
  - id: flake8
    additional_dependencies: ["flake8-bugbear==20.11.1"]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.812
  hooks:
  - id: mypy
    files: (jsonpath|tests)/.+\.py$
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v5.7.0
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: blacken-docs
    name: blacken-docs
    description: Run `black` on python code blocks in documentation files
    entry: .venv/bin/blacken-docs --line-length 72
    exclude_types: [python, toml, yaml, ini, makefile]
    types: [file, non-executable, text]
    language: system
  - id: doc8
    name: doc8
    description: Style checker for Sphinx (or other) RST documentation
    entry: .venv/bin/doc8 -q
    types: [rst]
    language: system
  - id: build_readme
    name: build_readme
    description: Build README.rst
    entry: .venv/bin/python scripts/build_readme.py README.template.rst README.rst
    language: system
    pass_filenames: false
  - id: requirement
    name: requirement
    description: create requirement file for python
    entry: make export
    files: (pyproject.toml|poetry.lock)
    language: system
    pass_filenames: false

bump: v0.8.0
  README.rst
  docs/source/changelog.rst
Due: doc8

build: upgrade lark-parser package
  pdm.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements-mini.txt
  requirements.txt
Due: requirement

build: update jsonpath_build.py script
  jsonpath_build.py
Due: none

build: fit with latest PDM
  scripts/export_requirements_txt.py
Due: none

build: update packages
  pdm.lock
  requirements-dev.txt
  requirements-docs.txt
Due: none

ci: update checkers of pre-commit
  .pre-commit-config.yaml
  jsonpath/core.py
Due: none

build: support Python 3.10
  .github/workflows/release.yml
  .github/workflows/test.yml
  Makefile
  noxfile.py
  pyproject.toml
Due: requirement

ci: upgrade pdm-project/setup-pdm GitHub action
  .github/workflows/test.yml
Due: none

refactor: rename grammar rule 'funccall' with 'func_call'
  jsonpath/grammar.lark
  jsonpath/transformer.py
Due: none

feat: add optional kw-arg 'filtered=True' in Name
  jsonpath/core.py
  jsonpath/grammar.lark
  jsonpath/transformer.py
Due: none

feat: unfiltered 'Name()' works in several scenarios
  jsonpath/core.py
  jsonpath/grammar.lark
  jsonpath/transformer.py
  tests/__init__.py
  tests/test_core.py
  tests/test_lark.py
Due: none

build: make pdm happy
  pyproject.toml
Due: requirement

fix: missing grammar.lark file in dist package
  pyproject.toml
Due: requirement

build: enforce pdm to use no-editable installation
  Makefile
  noxfile.py
Due: none

fix: name is reserved keywords like * that should be wrapped in single quotation marks '*'
  jsonpath/core.py
  tests/test_lark.py
Due: none

fix: typo
  jsonpath/core.py
Due: none

build: upgrade lark package
  jsonpath/transformer.py
  noxfile.py
  pdm.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
Due: requirement

build: update packages
  pdm.lock
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
Due: none

build: drop intreehooks:loader
  pyproject.toml
Due: requirement

ci: update hooks of pre-commit
  .pre-commit-config.yaml
Due: none

build: update packages
  .pre-commit-config.yaml
  Makefile
  jsonpath/cli.py
  jsonpath/core.py
  noxfile.py
  pdm.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements-mini.txt
  requirements.txt
  scripts/export_requirements_txt.py
  setup.cfg
Due: requirement

ci: update test workflow
  .github/workflows/test.yml
Due: none

Update to latest typing-extensions
  pdm.lock
  pyproject.toml
Due: requirement

build: drop support of py 3.7
  .pre-commit-config.yaml
  noxfile.py
  pdm.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements-mini.txt
  requirements.txt
Due: requirement

build: drop support of py 3.7
  .github/workflows/release.yml
  .github/workflows/test.yml
  README.rst
  docs/source/contributing.rst
Due: doc8

bump: v0.9.0
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
Due: doc8

build: update dev package tornado>=6.3.2
  pdm.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
Due: requirement

build: update packages
  pdm.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
Due: requirement

build: update packages
  .pre-commit-config.yaml
  pdm.lock
  requirements-dev.txt
  requirements-docs.txt
  requirements-mini.txt
  requirements.txt
Due: none

build: update packages
  .pre-commit-config.yaml
Due: none

build: update packages
  .pre-commit-config.yaml
  jsonpath/__init__.py
  jsonpath/core.py
  jsonpath/parser.py
  jsonpath/transformer.py
  pdm.lock
  requirements-dev.txt
  requirements-docs.txt
  requirements-mini.txt
  requirements.txt
  scripts/build_readme.py
  scripts/watch_build_and_serve_html_docs.py
Due: none
