Repository linw1995/jsonpath: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-black, flake8, check-isort, black, isort, mypy, doc8, requirement

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      # - id: no-commit-to-branch
      #   args: [--branch, master]
      #   language_version: python3
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
        args: [--unsafe]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.4.1
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: rst-backticks
  - repo: local
    hooks:
      - id: check-black
        name: check-black
        description: The uncompromising code checker.
        entry: .venv/bin/black --check --diff --quiet
        types: [python]
        language: system
      - id: flake8
        name: flake8
        description: the modular source code checker
        entry: .venv/bin/flake8
        types: [python]
        language: system
      - id: check-isort
        name: check-isort
        description: check all imports of all python files
        entry: .venv/bin/isort --diff -c
        types: [python]
        language: system
      - id: black
        name: black
        description: The uncompromising code formatter.
        entry: .venv/bin/black --safe --quiet
        types: [python]
        language: system
      - id: isort
        name: isort
        description: sort all imports of all python files
        entry: .venv/bin/isort -y
        types: [python]
        language: system
      - id: mypy
        name: mypy
        description: static typing for Python
        entry: .venv/bin/mypy jsonpath
        types: [python]
        exclude: (tests|docs)/
        language: system
        pass_filenames: false
      - id: blacken-docs
        name: blacken-docs
        description: Run `black` on python code blocks in documentation files
        entry: .venv/bin/blacken-docs --line-length 72
        exclude_types: [python, toml, yaml, ini, makefile]
        types: [file, non-executable, text]
        language: system
      - id: doc8
        name: doc8
        description: Style checker for Sphinx (or other) RST documentation
        entry: .venv/bin/doc8 -q
        types: [rst]
        language: system
      - id: build_readme
        name: build_readme
        description: Build README.rst
        entry: .venv/bin/python scripts/build_readme.py README.template.rst README.rst
        language: system
        pass_filenames: false
      - id: requirement
        name: requirement
        description: create requirement file for python
        entry: .venv/bin/python scripts/export_requirements_txt.py
        files: (pyproject.toml|poetry.lock)
        language: system
        pass_filenames: false

Chg:Upgrade lark-parser
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: requirement

New:Rewrite grammar to support more extensible jsonpath expression, e.g., more elegant comparison syntax.
  jsonpath/__init__.py
  jsonpath/core.py
  jsonpath/grammar.lark
  jsonpath/lark.py
  jsonpath/transformer.py
  tests/test_core.py
  tests/test_lark.py
Due: check-black, flake8, check-isort, black, isort, mypy

New:Slice supports to cooperate with JSONPath.
  jsonpath/core.py
  tests/test_core.py
  tests/test_lark.py
Due: check-black, flake8, check-isort, black, isort, mypy

New:Bump to v0.7.0
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: doc8, requirement

Fix,Dev:Pytest runs with doctest but collecting wrong test files.
  conftest.py
  setup.cfg
Due: check-black, flake8, check-isort, black, isort, mypy

New,Dev:Supports to test codeblocks from document files.
  conftest.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  setup.cfg
Due: check-black, flake8, check-isort, black, isort, mypy, requirement

Fix,Dev:Built-in function sum takes no keyword arguments in python 3.7
  conftest.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix:IndexError raised from method Array.find
  jsonpath/core.py
  tests/test_lark.py
Due: check-black, flake8, check-isort, black, isort, mypy

New:Raise AssertionError if Array.idx is not valid
  jsonpath/core.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix:f-strings debugging was implemented in Python 3.8 not 3.7
  jsonpath/core.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix:IndexError raised from method Array.find (#20)
  jsonpath/core.py
  tests/test_lark.py
Due: check-black, flake8, check-isort, black, isort, mypy

New:Bump to v0.7.1
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: doc8, requirement

New:Add a new context variable "parent".
  jsonpath/core.py
  tests/test_core.py
Due: check-black, flake8, check-isort, black, isort, mypy

Chg:Remove useless comments
  jsonpath/core.py
Due: check-black, flake8, check-isort, black, isort, mypy

New:Add a helper function 'temporary_set'
  jsonpath/core.py
Due: check-black, flake8, check-isort, black, isort, mypy

New:Be able to get parent node while searching.
  jsonpath/core.py
  tests/test_core.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix:Slice nested exprs find erorr
  jsonpath/core.py
  tests/test_lark.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix:Slice.find apply on list only.
  jsonpath/core.py
Due: check-black, flake8, check-isort, black, isort, mypy

New:Bump to v0.7.2
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: doc8, requirement

Chg:Refactoring
  jsonpath/core.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix:Exports requirements.txt error
  noxfile.py
Due: check-black, flake8, check-isort, black, isort, mypy

New:Supports Python3.9
  .github/workflows/test.yml
  noxfile.py
  pyproject.toml
Due: check-black, flake8, check-isort, black, isort, mypy, requirement

Fix:mypy error when using Python39
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-mini.txt
  requirements.txt
Due: requirement

Fix:Missing Python3.9
  .github/workflows/test.yml
Due: none

Chg:Update Brace class doc.
  jsonpath/core.py
  tests/test_lark.py
Due: check-black, flake8, check-isort, black, isort, mypy

Chg:Update Brace class doc.
  jsonpath/core.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix:Build document first while running 'make live_docs'
  scripts/watch_build_and_serve_html_docs.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix,Dev:Must deactivate before using nox
  Makefile
Due: none

Fix:build.py file contamination (fixes #26)
  jsonpath_build.py
  noxfile.py
  pyproject.toml
Due: check-black, flake8, check-isort, black, isort, mypy, requirement

New:Bump to v0.7.3
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: doc8, requirement

feat: better JSONPath object representations
  jsonpath/core.py
  tests/test_core.py
  tests/test_lark.py
Due: check-black, flake8, check-isort, black, isort, mypy

style: format code
  jsonpath/core.py
Due: check-black, flake8, check-isort, black, isort, mypy

docs(changelog): update
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
Due: doc8

feat: add iter_find and find_first methods
  docs/source/api_core.rst
  jsonpath/core.py
  tests/__init__.py
  tests/test_core.py
  tests/test_lark.py
  tests/utils.py
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

ci: remove command ::set-env that github action is unable to process
  .github/workflows/test.yml
Due: none

test: remove meaningless assertion
  tests/utils.py
Due: check-black, flake8, check-isort, black, isort
