Repository linw1995/jsonpath: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-black, flake8, check-isort, black, isort, mypy, doc8, requirement

check-black:
  name: check-black
  description: The uncompromising code checker.
  entry: .venv/bin/black --check --diff --quiet
  language: system

flake8:
  name: flake8
  description: the modular source code checker
  entry: .venv/bin/flake8
  language: system

check-isort:
  name: check-isort
  description: check all imports of all python files
  entry: .venv/bin/isort --diff -c
  language: system

black:
  name: black
  description: The uncompromising code formatter.
  entry: .venv/bin/black --safe --quiet
  language: system

isort:
  name: isort
  description: sort all imports of all python files
  entry: .venv/bin/isort -y
  language: system

mypy:
  name: mypy
  description: static typing for Python
  entry: .venv/bin/mypy jsonpath
  language: system
  pass_filenames: false

doc8:
  name: doc8
  description: Style checker for Sphinx (or other) RST documentation
  entry: .venv/bin/doc8 -q
  language: system

requirement:
  name: requirement
  description: create requirement file for python
  entry: .venv/bin/python scripts/export_requirements_txt.py
  language: system
  pass_filenames: false

docs(changelog): update
  README.rst
  docs/source/changelog.rst
Due: doc8

feat: add iter_find and find_first methods
  docs/source/api_core.rst
  jsonpath/core.py
  tests/__init__.py
  tests/test_core.py
  tests/test_lark.py
  tests/utils.py
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

ci: remove command ::set-env that github action is unable to process
  .github/workflows/test.yml
Due: none

test: remove meaningless assertion
  tests/utils.py
Due: check-black, flake8, check-isort, black, isort

refactor: not registers base class "Expr" for chaining invocations
  jsonpath/core.py
Due: check-black, flake8, check-isort, black, isort, mypy

refactor: raise AttributeError by object.__getattribute__
  jsonpath/core.py
Due: check-black, flake8, check-isort, black, isort, mypy

style: update code format configure
  .pre-commit-config.yaml
  conftest.py
  docs/make.bat
  docs/source/conf.py
  jsonpath/__init__.py
  jsonpath/cli.py
  jsonpath/core.py
  jsonpath/lark.py
  jsonpath/parser.py
  jsonpath/transformer.py
  jsonpath_build.py
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  scripts/build_readme.py
  scripts/export_requirements_txt.py
  setup.cfg
  tests/test_cli.py
  tests/test_core.py
  tests/test_lark.py
Due: check-black, flake8, check-isort, black, isort, mypy, requirement

ci: update .gitignore file
  .gitignore
Due: none

ci: remove command ::set-env that github action is unable to process
  .github/workflows/release.yml
Due: none

ci: add dummy setup.py to enable GitHub "Used By" stats
  setup.py
Due: check-black, flake8, check-isort, black, isort, mypy

style: format setup.py
  setup.py
Due: check-black, flake8, check-isort, black, isort, mypy

build: update sub dependencies
  poetry.lock
  requirements-dev.txt
Due: requirement

ci: update linters
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: requirement

ci: fewer jobs to run
  .github/workflows/test.yml
Due: none

ci: replace poetry with pdm
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yaml
  Makefile
  README.rst
  docs/source/quickstarts.rst
  docs/source/readme.rst
  jsonpath_build.py
  noxfile.py
  pdm.lock
  pyproject.toml
  requirements-docs.txt
  requirements-mini.txt
  requirements.txt
  scripts/export_requirements_txt.py
  setup.py
  tests/test_cli.py
Due: check-black, flake8, check-isort, black, isort, mypy, doc8, requirement

docs: add contributing documentation
  README.rst
  docs/source/contributing.rst
  docs/source/index.rst
  docs/source/readme.rst
Due: doc8

ci: update Github Actions workflows
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

fix: forgot py.typed file
  jsonpath/py.typed
Due: none

ci: make PEP582 enabled by default
  .github/workflows/test.yml
Due: none

ci: fix missing pygments package for readme file building
  pdm.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
Due: requirement

ci: remove useless file
  poetry.lock
Due: requirement

Revert "ci: make PEP582 enabled by default"
  .github/workflows/test.yml
Due: none

ci: fix noxfile.py cant import modules from project root
  noxfile.py
Due: check-black, flake8, check-isort, black, isort, mypy

ci: replace poetry with pdm (#32)
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yaml
  Makefile
  README.rst
  docs/source/contributing.rst
  docs/source/index.rst
  docs/source/quickstarts.rst
  docs/source/readme.rst
  jsonpath/py.typed
  jsonpath_build.py
  noxfile.py
  pdm.lock
  poetry.lock
  pyproject.toml
  requirements-docs.txt
  requirements-mini.txt
  requirements.txt
  scripts/export_requirements_txt.py
  setup.py
  tests/test_cli.py
Due: check-black, flake8, check-isort, black, isort, mypy, doc8, requirement

build: update the pdm.lock file
  pdm.lock
  requirements-dev.txt
  requirements-docs.txt
  requirements-mini.txt
  requirements.txt
Due: none

ci: pre-commit skips export_requirements_txt hook
  .github/workflows/test.yml
Due: none

build: update the pdm.lock file (#34)
  .github/workflows/test.yml
  pdm.lock
  requirements-dev.txt
  requirements-docs.txt
  requirements-mini.txt
  requirements.txt
Due: none

build: update deps
  pdm.lock
  requirements-dev.txt
  requirements-docs.txt
Due: none

build: upgrade lark-parser package
  pdm.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
Due: requirement

fix: remove unused terminals
  jsonpath/grammar.lark
Due: none

feat: get rid of __file__
  jsonpath/parser.py
Due: check-black, flake8, check-isort, black, isort, mypy

build: update the build-system
  pyproject.toml
Due: requirement

build: excludes .mypy_cache for local build
  pyproject.toml
Due: requirement

build: fit with PDM
  Makefile
  noxfile.py
Due: check-black, flake8, check-isort, black, isort, mypy

test: coverage on specific unittests
  Makefile
  noxfile.py
Due: check-black, flake8, check-isort, black, isort, mypy

fix: right way to generate standalone parser
  jsonpath/parser.py
  jsonpath_build.py
Due: check-black, flake8, check-isort, black, isort, mypy

refactor: remove unused variable
  jsonpath/lark.py
Due: check-black, flake8, check-isort, black, isort, mypy

Path conditions:
  check-black: any of: \.py$
  flake8: any of: \.py$
  check-isort: any of: \.py$
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: (tests|docs)/
  doc8: any of: \.rst$
  requirement: any of: (pyproject.toml|poetry.lock)
