Repository linw1995/jsonpath: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-black, flake8, check-isort, black, isort, mypy, requirement

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, master]
        language_version: python3
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
        args: [--unsafe]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.4.1
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: rst-backticks
  - repo: local
    hooks:
      - id: check-black
        name: check-black
        description: The uncompromising code checker.
        entry: .venv/bin/black --check --diff --quiet
        types: [python]
        language: system
      - id: flake8
        name: flake8
        description: the modular source code checker
        entry: .venv/bin/flake8
        types: [python]
        language: system
      - id: check-isort
        name: check-isort
        description: check all imports of all python files
        entry: .venv/bin/isort --diff -c
        types: [python]
        language: system
      - id: black
        name: black
        description: The uncompromising code formatter.
        entry: .venv/bin/black --safe --quiet
        types: [python]
        language: system
      - id: isort
        name: isort
        description: sort all imports of all python files
        entry: .venv/bin/isort -y
        types: [python]
        language: system
      - id: mypy
        name: mypy
        description: static typing for Python
        entry: .venv/bin/mypy jsonpath
        types: [python]
        exclude: (tests|docs)/
        language: system
        pass_filenames: false
      - id: requirement
        name: requirement
        description: create requirement file for python
        entry: ./scripts/export_requirements_txt.sh
        files: (pyproject.toml|poetry.lock)
        language: system
        pass_filenames: false

Chg:Upgrade dependencies
  poetry.lock
  requirements.txt
Due: requirement

Chg:Update GitHub Actions config
  .github/workflows/pythonpackage.yml
Due: none

New:Add caches action
  .github/workflows/pythonpackage.yml
Due: none

New:Upload release built from actions
  .github/workflows/pythonpackage.yml
Due: none

Chg:Use lark-parser to replace sly
  jsonpath/__init__.py
  jsonpath/core.py
  jsonpath/grammar.lark
  jsonpath/parser.py
  jsonpath/sly.py
  poetry.lock
  pyproject.toml
  requirements-mini.txt
  requirements.txt
  tests/test_core.py
  tests/test_lark.py
Due: check-black, flake8, check-isort, black, isort, mypy, requirement

Fix,Dev:CI err because of poetry install git dep
  setup.cfg
Due: none

Chg:Replace tab with space in grammar.lark
  jsonpath/grammar.lark
Due: none

Chg:more specific type annotation
  jsonpath/parser.py
Due: check-black, flake8, check-isort, black, isort, mypy

Chg:Upgrade lark to 0.8.1
  poetry.lock
  pyproject.toml
  requirements-mini.txt
  requirements.txt
  setup.cfg
Due: requirement

Chg:Rafactoring for reducing non-neccessory code
  jsonpath/core.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix:Not raise JSONPath undefined function error explicitly
  jsonpath/core.py
  jsonpath/parser.py
  setup.cfg
  tests/test_lark.py
Due: check-black, flake8, check-isort, black, isort, mypy

New:Add Command-line interface support
  jsonpath/cli.py
  pyproject.toml
  tests/test_cli.py
Due: check-black, flake8, check-isort, black, isort, mypy, requirement

Chg:Use type.__new__ to overwrite expr's find method
  jsonpath/core.py
Due: check-black, flake8, check-isort, black, isort, mypy

Chg:Refactoring for reducing the duplicated code
  jsonpath/core.py
Due: check-black, flake8, check-isort, black, isort, mypy

New:Create docs by sphinx
  .pre-commit-config.yaml
  Makefile
  README.template.rst
  docs/Makefile
  docs/make.bat
  docs/source/_static/custom.css
  docs/source/api_core.rst
  docs/source/api_parser.rst
  docs/source/api_reference.rst
  docs/source/changelog.rst
  docs/source/conf.py
  docs/source/history.rst
  docs/source/index.rst
  docs/source/quickstarts.rst
  docs/source/readme.rst
  jsonpath/__init__.py
  jsonpath/core.py
  jsonpath/parser.py
  poetry.lock
  pyproject.toml
  requirements.txt
  scripts/build_readme.py
Due: check-black, flake8, check-isort, black, isort, mypy, requirement

Fix,Dev:Isort error
  setup.cfg
Due: none

New,Dev:Watch related files, build and serve Sphinx documentation automatically.
  Makefile
  poetry.lock
  pyproject.toml
  requirements.txt
  scripts/watch_build_and_serve_html_docs.py
Due: check-black, flake8, check-isort, black, isort, mypy, requirement

Fix,Dev:lint docs error
  poetry.lock
  pyproject.toml
  requirements.txt
Due: requirement

New,Dev:Test with doctest by pytest
  setup.cfg
Due: none

Fix,Dev:shell function not inherits envs of parent process
  scripts/watch_build_and_serve_html_docs.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix,Dev:lint error
  poetry.lock
  pyproject.toml
  requirements-mini.txt
  requirements.txt
Due: requirement

Fix,Dev:Live reload docs error due to .venv/bin/python not setting env-values
  scripts/watch_build_and_serve_html_docs.py
Due: check-black, flake8, check-isort, black, isort, mypy

New,Doc:API reference
  docs/source/api_core.rst
  docs/source/api_parser.rst
  docs/source/conf.py
  jsonpath/core.py
  jsonpath/parser.py
Due: check-black, flake8, check-isort, black, isort, mypy

Chg,Doc:Update quickstarts.rst
  .pre-commit-config.yaml
  README.rst
  docs/source/installation.rst
  docs/source/quickstarts.rst
Due: none

New:Add .readthedocs.yaml for docs deployment
  .readthedocs.yaml
  docs/source/conf.py
Due: check-black, flake8, check-isort, black, isort

New,Doc:Translate :py:mod: directive into link
  README.rst
  scripts/build_readme.py
Due: check-black, flake8, check-isort, black, isort, mypy

New:Bump to v0.2.0-alpha
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  poetry.lock
  pyproject.toml
  requirements-mini.txt
  requirements.txt
Due: requirement

Chg,Dev:Allow to commit on master branch
  .pre-commit-config.yaml
Due: none

Fix:Type annotation error
  jsonpath/parser.py
  poetry.lock
  pyproject.toml
  requirements-mini.txt
  requirements.txt
  setup.cfg
Due: check-black, flake8, check-isort, black, isort, mypy, requirement

New:Bump to v0.2.0-alpha.1
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: requirement

Fix:Cannot release into PyPI
  poetry.lock
  pyproject.toml
  requirements-mini.txt
  requirements.txt
  setup.cfg
Due: requirement

New:Bump to v0.2.0-alpha.2
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: requirement

New:Bump to v0.2.0
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: requirement

New:Add Predicate class
  README.rst
  docs/source/quickstarts.rst
  jsonpath/core.py
  jsonpath/parser.py
  tests/test_core.py
Due: check-black, flake8, check-isort, black, isort, mypy

New:Bump to v0.3.0
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: requirement

New,Doc:Add HowTo "Check specific key in dictionary"
  docs/source/howto.rst
  docs/source/index.rst
  jsonpath/core.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix:Wrong build status button in document. (closes #6)
  docs/source/conf.py
Due: check-black, flake8, check-isort, black, isort

New:Add section of "Usage via CLI" into docs
  README.rst
  docs/source/quickstarts.rst
  example.json
Due: none

New:Add pexpect to support CLI tests
  Makefile
  jsonpath/cli.py
  poetry.lock
  pyproject.toml
  requirements-mini.txt
  requirements.txt
  tests/test_cli.py
Due: check-black, flake8, check-isort, black, isort, mypy, requirement

Fix,Dev:Missing 'jp' executable from path
  tests/test_cli.py
Due: check-black, flake8, check-isort, black, isort
