Repository linw1995/jsonpath: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-black, flake8, check-isort, black, isort, mypy, requirement

check-black:
  name: check-black
  description: The uncompromising code checker.
  entry: .venv/bin/black --check --diff --quiet
  language: system

flake8:
  name: flake8
  description: the modular source code checker
  entry: .venv/bin/flake8
  language: system

check-isort:
  name: check-isort
  description: check all imports of all python files
  entry: .venv/bin/isort --diff -c
  language: system

black:
  name: black
  description: The uncompromising code formatter.
  entry: .venv/bin/black --safe --quiet
  language: system

isort:
  name: isort
  description: sort all imports of all python files
  entry: .venv/bin/isort -y
  language: system

mypy:
  name: mypy
  description: static typing for Python
  entry: .venv/bin/mypy jsonpath
  language: system
  pass_filenames: false

requirement:
  name: requirement
  description: create requirement file for python
  entry: ./scripts/export_requirements_txt.sh
  language: system
  pass_filenames: false

New:Bump to v0.4.0
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: requirement

New:Add --ensure-ascii argument. (closes #9)
  jsonpath/cli.py
Due: check-black, flake8, check-isort, black, isort, mypy

New:Be able to use stand-alone parser
  .gitignore
  jsonpath/lark.py
  jsonpath/parser.py
  jsonpath/transformer.py
  poetry.lock
  pyproject.toml
  requirements-mini.txt
  requirements.txt
  setup.cfg
  tests/test_lark.py
Due: check-black, flake8, check-isort, black, isort, mypy, requirement

Fix:Lint error
  jsonpath/lark.py
Due: check-black, flake8, check-isort, black, isort, mypy

Chg:Upgrade dependencies
  poetry.lock
  requirements.txt
Due: requirement

New:Overrides poetry build api to build standalone parser first
  .github/workflows/pythonpackage.yml
  .gitignore
  Makefile
  build.py
  jsonpath/lark.py
  pyproject.toml
Due: check-black, flake8, check-isort, black, isort, mypy, requirement

Chg,Dev,CI:Upgrade CI
  .github/workflows/pythonpackage.yml
  Makefile
  build.py
  jsonpath/lark.py
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements-mini.txt
  requirements.txt
Due: check-black, flake8, check-isort, black, isort, mypy, requirement

Fix,Dev,CI:Coverage cli missing
  poetry.lock
  pyproject.toml
  requirements-mini.txt
Due: requirement

Chg:Only release built distribution, wheel.
  noxfile.py
Due: check-black, flake8, check-isort, black, isort, mypy

New:Bump to v0.5.0
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: requirement

Fix,Dev,CI:Release stage error
  .github/workflows/pythonpackage.yml
Due: none

New:Bump to v0.5.1
  README.rst
  docs/source/changelog.rst
  pyproject.toml
Due: requirement

Chg:Update github workflows
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Chg,CI:Separate caches by python version
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Chg,Dev:Update README.rst
  README.rst
  docs/source/readme.rst
Due: none

Chg:Run release workflow when new tag been published
  .github/workflows/release.yml
Due: none

Chg,CI:"set PY".title()
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Change/CI/update workflows (#13)
  .github/workflows/pythonpackage.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  README.rst
  docs/source/readme.rst
Due: none

New:Build binary release by pyoxidizer
  .gitignore
  Makefile
  pyoxidizer.bzl.template
  scripts/generate_pyoxidizer_bzl.py
Due: check-black, flake8, check-isort, black, isort, mypy

Chg:Remove redundant code
  jsonpath/core.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix:Typo
  jsonpath/core.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix:Release bad sdist. (closes #11)
  noxfile.py
  pyproject.toml
Due: check-black, flake8, check-isort, black, isort, mypy, requirement

New:Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Chg,CI:Update Github actions workflow configuration
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Fix,CI:Github workflow configuration not supports YAML Anchors syntax
  .github/workflows/test.yml
Due: none

Chg:Better way to use codegen module
  .gitignore
  Makefile
  build.py
  jsonpath/lark.py
  noxfile.py
  pyproject.toml
Due: check-black, flake8, check-isort, black, isort, mypy, requirement

Chg,CI:Ignore Codecov report upload error
  .github/workflows/test.yml
Due: none

New,Dev:Add make pre-commit_init to setup pre-commit
  Makefile
Due: none

Fix,Dev:Export wrong dependencies into requirements.txt
  .pre-commit-config.yaml
  requirements-dev.txt
  requirements-mini.txt
  requirements.txt
  scripts/export_requirements_txt.py
  scripts/export_requirements_txt.sh
  setup.cfg
Due: check-black, flake8, check-isort, black, isort, mypy

Chg,Dev:Use nox on export requirements.txt with more compatibility
  .pre-commit-config.yaml
  Makefile
  noxfile.py
  scripts/export_requirements_txt.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix,Dev:Writing files on the Linux system makes pre-commit failure.
  scripts/export_requirements_txt.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix,Dev:Export dependencies on python3.7
  noxfile.py
  requirements-dev.txt
  scripts/export_requirements_txt.py
Due: check-black, flake8, check-isort, black, isort, mypy

Chg,Dev:Allow developer to change python version by running make activate
  Makefile
Due: none

Chg:Raises AssertionError when the operator is not supported
  jsonpath/transformer.py
Due: check-black, flake8, check-isort, black, isort, mypy

Chg,Dev:Coverage emits the codegen file
  setup.cfg
Due: none

New:Bump to v0.6.0
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: requirement

Fix,Dev:nox -k build warning
  noxfile.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix:jsonpath/lark_parser.py file is missing in wheel file
  pyproject.toml
Due: requirement

New:Bump to v0.6.1
  README.rst
  docs/source/changelog.rst
  pyproject.toml
Due: requirement

Fix,Dev:make init_by_poetry error when python(system) version is lower than 3.7
  Makefile
Due: none

Path conditions:
  check-black: any of: \.py$
  flake8: any of: \.py$
  check-isort: any of: \.py$
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: (tests|docs)/
  requirement: any of: (pyproject.toml|poetry.lock)
